[submodule "common/googletest"]
	path = common/googletest
	url = https://github.com/google/googletest.git
[submodule "common/ios-cmake"]
	path = common/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
